[submodule "Submodules/MBProgressHUD"]
	path = Submodules/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/ActionSheetPicker"]
	path = Submodules/ActionSheetPicker
	url = https://github.com/TimCinel/ActionSheetPicker.git
[submodule "Submodules/iRate"]
	path = Submodules/iRate
	url = https://github.com/nicklockwood/iRate.git
[submodule "Submodules/BlockAlertsAnd-ActionSheets"]
	path = Submodules/BlockAlertsAnd-ActionSheets
	url = https://github.com/falkobuttler/BlockAlertsAnd-ActionSheets.git
[submodule "Submodules/iPhone-IntroductionTutorial"]
	path = Submodules/iPhone-IntroductionTutorial
	url = https://github.com/staxmanade/iPhone-IntroductionTutorial.git
[submodule "Submodules/AFAmazonS3Client"]
	path = Submodules/AFAmazonS3Client
	url = https://github.com/AFNetworking/AFAmazonS3Client.git

[submodule "Submodules/Soundboard"]
	path = Submodules/Soundboard
	url = https://github.com/Zi0P4tch0/Soundboard.git
